<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="mt-4">Workout-Demos</h1>
        <a href="https://go.echoar.xyz/fw6B" class="btn btn-primary btn-block mb-2">Running</a>
        <a href="https://go.echoar.xyz/QTpY" class="btn btn-primary btn-block mb-2">Push-Ups</a>
      </div>
    </div>
</div>